# Configuration
NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL
NEXT_PUBLIC_WEB_HOST_URL=$NEXT_PUBLIC_WEB_HOST_URL
NEXT_PUBLIC_WEB_IDENTIFIER=en
NEXT_PUBLIC_WEB_MODE=development

# Flag
NEXT_PUBLIC_ENABLE_RBAC=true